<!DOCTYPE html>
<html lagn="ko"
	xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>

	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-extend.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker/bootstrap-datepicker.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap-sweetalert/sweetalert.css}">

	<link rel="stylesheet" th:href="@{/css/common/adminlte.css}">
	<link rel="stylesheet" th:href="@{/css/common/adminlte.min.css}">
	
	<link rel="stylesheet" th:href="@{/css/common/fontawesome-free/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/common/fontawesome-free/css/all.min.css}">

</head>
<body>

	<th:block th:replace="web/layout/fragments/header"/><!-- header -->

	<th:block th:replace="web/layout/fragments/side"/><!-- side -->

	<div id="content" layout:fragment="content"></div><!--content-->

	<th:block th:replace="web/common/include-script"/><!-- 공통 Include Script 위치 -->

	<th:block layout:fragment="additional-include-script"/><!-- 추가 Include Script -->

</body>
</html>