<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="user-panel mt-3 pb-2 pl-2">
        <h1 class="m-0" style="color: #ffffff;">UNIMOA</h1>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">

        <!--      <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
        <!--        <div class="info">-->
        <!--          <h3>Alexander Pierce</h3>-->
        <!--        </div>-->
        <!--      </div>-->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>
                            문자검색
                        </p>
                    </a>

                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<script>
    /** add active class and stay opened when selected */
    // var url = window.location;
    // // for sidebar menu entirely but not cover treeview
    // $('ul.nav-sidebar a').filter(function() { return this.href == url; }).addClass('active');
    // // for treeview
    // $('ul.nav-treeview a').filter(function() { return this.href == url; }).parentsUntil(".nav-sidebar > .nav-treeview").addClass('menu-open').prev('a').addClass('active');
</script>

</body>

</html>